In [1]:
# importing the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter, defaultdict
from sklearn.metrics import accuracy_score
import matplotlib.ticker as ticker
from math import sqrt
from sklearn.metrics import mean_squared_error

In [2]:
#reading the csv file into books dataframe
books = pd.read_csv('../data/books.csv', sep=',')

In [3]:
# dropping the unwanted columns in book data frame
books = books.iloc[:, :16]
books = books.drop(columns=['original_title', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'original_publication_year','language_code','work_ratings_count','work_text_reviews_count'])
books.head(5)

,id,book_id,authors,title,average_rating,ratings_count
0,1,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",4.34,4780653
1,2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479
2,3,41865,Stephenie Meyer,"Twilight (Twilight, #1)",3.57,3866839
3,4,2657,Harper Lee,To Kill a Mockingbird,4.25,3198671
4,5,4671,F. Scott Fitzgerald,The Great Gatsby,3.89,2683664

In [4]:
#checking for null values
books.isna().sum()

id                0
book_id           0
authors           0
title             0
average_rating    0
ratings_count     0
dtype: int64

In [5]:
# reading the ratings csv file
ratings = pd.read_csv('../data/ratings.csv', sep=',')
ratings.head(5)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [6]:
#merging both the files 
df = pd.merge(ratings, books, on="book_id")
df.head(5)

,book_id,user_id,rating,id,authors,title,average_rating,ratings_count
0,1,314,5,27,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1678823
1,1,439,3,27,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1678823
2,1,588,5,27,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1678823
3,1,1169,4,27,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1678823
4,1,1185,4,27,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1678823

In [7]:
# droping the duplicated columns in the files
df1= df.drop_duplicates(['user_id','title','book_id'])
df1.to_csv('book_edit.csv')
df1.head(10) #went down from 79701 to 79531 
df1.shape #(79531, 8)

(79531, 8)

In [19]:
# creating the matrix and filling the nan values to be 0
books_matrix = df1.pivot_table(index = 'user_id', columns = 'book_id', values = 'rating')
books_matrix.shape #(28554, 794)
books_matrix

book_id,1,2,3,5,6,8,10,11,13,21,...,9854,9864,9865,9912,9913,9914,9915,9943,9957,9998
user_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#slipting the matrix to test and train. We are spliting the matrix in a 
#peculiar way as we had made sure that we encounter some values in the test and train data instead of complete 0

MIN_USER_RATINGS = 5
DELETE_RATING_COUNT = 1

def train_test_split(ratings):
    validation = np.zeros(ratings.shape)
    print(validation)
    train = ratings.copy()
    print(train)
    
    for user in np.arange(ratings.shape[0]):
        if len(ratings[user,:].nonzero()[0]) >= MIN_USER_RATINGS:
            val_ratings = np.random.choice(
                ratings[user, :].nonzero()[0], 
                size=DELETE_RATING_COUNT,
                replace=False
            )
            train[user, val_ratings] = 0
            validation[user, val_ratings] = ratings[user, val_ratings]
    return train, validation

In [10]:
train, val = train_test_split(books_matrix)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [11]:
train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [12]:
train.shape

(28906, 812)

In [13]:
val.shape

(28906, 812)

In [14]:
# used a simple rsme calculation for error prediction
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [15]:
# main class where the model training and prediction take place

class Recommender:
    
  
    def __init__(self, n_epochs=200, n_latent_features=3, lmbda=0.1, learning_rate=0.001):
        self.n_epochs = n_epochs
        self.n_latent_features = n_latent_features
        self.lmbda = lmbda
        self.learning_rate = learning_rate
  
    def predictions(self, P, Q):
        return np.dot(P.T, Q)
  
    def fit(self, X_train, X_val):
        m, n = X_train.shape
        print(X_train)
        print(X_val)
        self.P = 3 * np.random.rand(self.n_latent_features, m)
        self.Q = 3 * np.random.rand(self.n_latent_features, n)
        print(self.P)
        print(self.Q)
        
        self.train_error = []
        self.val_error = []

        users, items = X_train.nonzero()

        for epoch in range(self.n_epochs):
            for u, i in zip(users, items):
                error = X_train[u, i] - self.predictions(self.P[:,u], self.Q[:,i])
                self.P[:, u] += self.learning_rate * (error * self.Q[:, i] - self.lmbda * self.P[:, u])
                self.Q[:, i] += self.learning_rate * (error * self.P[:, u] - self.lmbda * self.Q[:, i])

            train_rmse = rmse(self.predictions(self.P, self.Q), X_train)
            val_rmse = rmse(self.predictions(self.P, self.Q), X_val)
            self.train_error.append(train_rmse)
            self.val_error.append(val_rmse)

        return self
  
    def predict(self, X_train, user_index):
        y_hat = self.predictions(self.P, self.Q)
        predictions_index = np.where(X_train[user_index, :] == 0)[0]
        return y_hat[user_index, predictions_index].flatten()

In [16]:
recommender = Recommender().fit(train, val)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
[[1.6053157  2.70797233 2.36864063 ... 2.94111661 2.01635864 2.51950705]
 [2.5703215  0.25236298 0.80911891 ... 2.13543293 2.36883595 0.07275262]
 [0.14100892 0.42916283 2.44377315 ... 1.10019869 0.66303294 2.36414725]]
[[0.58917348 1.3161524  2.68206931 ... 0.47215228 2.88842944 2.12164871]
 [0.14024504 1.07906415 2.29966548 ... 2.10639616 0.7860691  0.15478666]
 [2.50065839 1.79930502 0.1642384  ... 0.41950797 0.29175677 1.12090103]]

In [17]:
recommender.train_error

[2.7066139275738865,
 2.0140838585834477,
 1.7749864963185105,
 1.6816189970748205,
 1.6316714695901249,
 1.5958491418934437,
 1.5660202569481039,
 1.5397744599826093,
 1.5162359560498162,
 1.4949554858012661,
 1.4756190899378685,
 1.4579712906283906,
 1.4417937051099081,
 1.4268975681158629,
 1.4131196191696282,
 1.4003188520882224,
 1.388373620276913,
 1.3771790329280122,
 1.3666446444364326,
 1.3566924316356226,
 1.347255039910051,
 1.3382742716468456,
 1.3296997882250647,
 1.3214879976045042,
 1.3136011019264036,
 1.3060062824177388,
 1.2986750018029125,
 1.2915824071414546,
 1.2847068184392598,
 1.2780292905059363,
 1.2715332373667492,
 1.2652041101125107,
 1.2590291204162491,
 1.252997003092501,
 1.2470978120517697,
 1.2413227448339776,
 1.2356639916121692,
 1.230114605159806,
 1.2246683887875507,
 1.2193197996919072,
 1.2140638655298803,
 1.2088961123506814,
 1.2038125022856059,
 1.1988093796276154,
 1.193883424128705,
 1.1890316105109584,
 1.1842511733304866,
 1.1795395764558947,
 1.1748944865275892,
 1.1703137498537484,
 1.1657953722753804,
 1.1613375015984637,
 1.156938412247332,
 1.1525964918415947,
 1.1483102294401677,
 1.144078205231385,
 1.1398990814785628,
 1.1357715945564917,
 1.1316945479367648,
 1.1276668059991382,
 1.123687288562717,
 1.119754966045051,
 1.1158688551695202,
 1.112028015152011,
 1.1082315443070199,
 1.104478577021227,
 1.1007682810493897,
 1.097099855093304,
 1.093472526629676,
 1.089885549957144,
 1.0863382044365193,
 1.0828297929016135,
 1.0793596402208845,
 1.075927091992629,
 1.0725315133585986,
 1.0691722879228003,
 1.06584881676387,
 1.0625605175308286,
 1.0593068236132677,
 1.0560871833780856,
 1.0529010594658392,
 1.0497479281405941,
 1.046627278687876,
 1.043538612855948,
 1.040481444336191,
 1.037455298278847,
 1.0344597108408007,
 1.0314942287624471,
 1.0285584089710218,
 1.0256518182080516,
 1.0227740326788324,
 1.0199246377220734,
 1.0171032274980298,
 1.014309404693626,
 1.011542780243223,
 1.0088029730638168,
 1.0060896098035768,
 1.003402324602737,
 1.0007407588659478,
 0.9981045610452838,
 0.9954933864331695,
 0.9929068969645595,
 0.9903447610277664,
 0.9878066532833802,
 0.9852922544907751,
 0.9828012513417395,
 0.9803333363008015,
 0.9778882074518657,
 0.9754655683507922,
 0.9730651278835954,
 0.9706866001299485,
 0.9683297042317169,
 0.965994164266252,
 0.963679709124205,
 0.9613860723916332,
 0.9591129922361872,
 0.9568602112971814,
 0.9546274765793658,
 0.9524145393502245,
 0.9502211550406425,
 0.9480470831487864,
 0.9458920871470595,
 0.9437559343919972,
 0.9416383960369759,
 0.939539246947617,
 0.9374582656197775,
 0.9353952341000142,
 0.9333499379084302,
 0.9313221659638026,
 0.9293117105109036,
 0.9273183670499321,
 0.9253419342679717,
 0.9233822139724001,
 0.9214390110261764,
 0.919512133284938,
 0.9176013915358386,
 0.9157065994380672,
 0.9138275734649839,
 0.9119641328478204,
 0.9101160995208852,
 0.9082832980682244,
 0.9064655556716865,
 0.9046627020603448,
 0.9028745694612286,
 0.9011009925513219,
 0.8993418084107883,
 0.8975968564773767,
 0.8958659785019759,
 0.8941490185052754,
 0.8924458227354995,
 0.8907562396271802,
 0.8890801197609354,
 0.8874173158242207,
 0.8857676825730258,
 0.8841310767944839,
 0.8825073572703689,
 0.8808963847414503,
 0.8792980218726824,
 0.8777121332192013,
 0.8761385851931058,
 0.8745772460309991,
 0.8730279857622685,
 0.8714906761780824,
 0.8699651908010828,
 0.8684514048557537,
 0.8669491952394456,
 0.8654584404940382,
 0.8639790207782222,
 0.8625108178403841,
 0.8610537149920752,
 0.8596075970820511,
 0.858172350470864,
 0.8567478630059925,
 0.8553340239974967,
 0.8539307241941814,
 0.8525378557602561,
 0.8511553122524764,
 0.8497829885977558,
 0.8484207810712355,
 0.8470685872747973,
 0.8457263061160134,
 0.8443938377875159,
 0.8430710837467794,
 0.8417579466963048,
 0.8404543305641928,
 0.8391601404851006,
 0.8378752827815673,
 0.8365996649457039,
 0.835333195621236,
 0.8340757845858897,
 0.8328273427341158,
 0.8315877820601402,
 0.8303570156413345,
 0.8291349576219006,
 0.827921523196858,
 0.8267166285963294,
 0.825520191070118,
 0.8243321288725667,
 0.8231523612476965,
 0.8219808084146135]

In [24]:
recommender.val_error

[2.700031093797787,
 2.0192950964955285,
 1.780216232914088,
 1.685675219853823,
 1.6349306869117877,
 1.5984030906336613,
 1.567718361196673,
 1.5403907267842933,
 1.5155487299673749,
 1.4927739009906964,
 1.47178826958189,
 1.4523704740609544,
 1.434332431575433,
 1.4175115933587774,
 1.4017670747489899,
 1.3869767875698125,
 1.373034952730515,
 1.3598498896662934,
 1.3473420703618395,
 1.335442426598191,
 1.3240908895849177,
 1.3132351359324175,
 1.3028295131274323,
 1.2928341193814066,
 1.283214015464272,
 1.2739385490998383,
 1.2649807752990505,
 1.2563169584967289,
 1.24792614450486,
 1.2397897921206575,
 1.231891455768431,
 1.2242165118520625,
 1.2167519225880288,
 1.2094860320108272,
 1.2024083896216125,
 1.1955095978102854,
 1.188781179740633,
 1.1822154648634227,
 1.1758054896269556,
 1.1695449112994447,
 1.1634279331119848,
 1.157449239182463,
 1.1516039378959906,
 1.1458875126017614,
 1.140295778644225,
 1.1348248458819914,
 1.12947108596422,
 1.1242311037342123,
 1.1191017122158449,
 1.114079910712419,
 1.1091628656111139,
 1.1043478935410642,
 1.0996324465803051,
 1.0950140992475743,
 1.0904905370501057,
 1.0860595463889042,
 1.081719005649205,
 1.0774668773264786,
 1.073301201057954,
 1.0692200874465747,
 1.0652217125790042,
 1.0613043131520052,
 1.0574661821325564,
 1.0537056648866268,
 1.050021155719833,
 1.0464110947804153,
 1.0428739652812224,
 1.0394082910028521,
 1.0360126340448208,
 1.0326855927957665,
 1.029425800097274,
 1.0262319215790454,
 1.0231026541458688,
 1.0200367245992148,
 1.0170328883783764,
 1.014089928407881,
 1.0112066540394933,
 1.0083819000785197,
 1.0056145258853377,
 1.0029034145441482,
 1.0002474720918697,
 0.9976456268009348,
 0.9950968285104456,
 0.9926000480007967,
 0.9901542764074228,
 0.9877585246698158,
 0.9854118230123939,
 0.9831132204541803,
 0.9808617843445867,
 0.9786565999228919,
 0.9764967698992695,
 0.9743814140554448,
 0.9723096688632736,
 0.9702806871197084,
 0.9682936375967857,
 0.9663477047054034,
 0.964442088171793,
 0.9625760027256922,
 0.960748677799336,
 0.9589593572364629,
 0.9572072990106203,
 0.955491774952118,
 0.9538120704830456,
 0.9521674843598256,
 0.9505573284228225,
 0.9489809273525757,
 0.9474376184322635,
 0.9459267513160422,
 0.9444476878029354,
 0.9429998016159811,
 0.9415824781863655,
 0.9401951144423033,
 0.9388371186024358,
 0.9375079099735479,
 0.9362069187524131,
 0.9349335858315988,
 0.9336873626090716,
 0.9324677108014603,
 0.9312741022608426,
 0.9301060187949333,
 0.9289629519905601,
 0.9278444030403248,
 0.9267498825723477,
 0.9256789104830113,
 0.9246310157726156,
 0.9236057363838677,
 0.9226026190431338,
 0.9216212191043849,
 0.9206611003957736,
 0.9197218350687786,
 0.9188030034498658,
 0.9179041938946082,
 0.9170250026442183,
 0.91616503368444,
 0.915323898606763,
 0.9145012164719072,
 0.9136966136755448,
 0.9129097238162149,
 0.9121401875653966,
 0.9113876525397024,
 0.910651773175159,
 0.9099322106035411,
 0.9092286325307274,
 0.9085407131170445,
 0.9078681328595729,
 0.9072105784763819,
 0.9065677427926673,
 0.9059393246287627,
 0.9053250286899986,
 0.9047245654583812,
 0.9041376510860656,
 0.903564007290599,
 0.9030033612519077,
 0.9024554455110031,
 0.9019199978703838,
 0.9013967612961098,
 0.9008854838215241,
 0.900385918452601,
 0.8998978230748957,
 0.8994209603620754,
 0.8989550976860079,
 0.8985000070283861,
 0.8980554648938678,
 0.8976212522247086,
 0.8971971543168656,
 0.8967829607375541,
 0.896378465244233,
 0.8959834657050006,
 0.8955977640203799,
 0.8952211660464732,
 0.8948534815194655,
 0.894494523981459,
 0.8941441107076151,
 0.8938020626345898,
 0.8934682042902387,
 0.8931423637245746,
 0.8928243724419597,
 0.8925140653345117,
 0.8922112806167065,
 0.8919158597611592,
 0.8916276474355648,
 0.8913464914407812,
 0.8910722426500363,
 0.8908047549492414,
 0.8905438851783944,
 0.8902894930740546,
 0.890041441212872,
 0.8897995949561557,
 0.889563822395463,
 0.8893339942991929,
 0.8891099840601691,
 0.888891667644194,
 0.888678923539561,
 0.8884716327075053,
 0.8882696785335811,
 0.8880729467799481,
 0.8878813255385518,
 0.8876947051851842,
 0.8875129783344078,
 0.8873360397953303]

In [20]:
# we have chosen a particular user id 173 and calculated the predicted values for the user
user_id = 173
user_index = books_matrix.index.get_loc(user_id)
predictions_index = np.where(train[user_index, :] == 0)[0]
print(predictions_index)
rating_predictions = recommender.predict(train, user_index)

[  0   1   2   3   5   6   7   8   9  10  11  12  13  14  15  16  17  19
  20  21  22  23  24  27  28  29  30  33  34  36  37  39  40  41  42  43
  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62
  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98
  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116
 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134
 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152
 153 154 155 156 157 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225
 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243
 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279
 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297
 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315
 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333
 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351
 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369
 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387
 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405
 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423
 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441
 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459
 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477
 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495
 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 554 555 556 558 559 560 561 562 563 564 565 566 567 568
 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586
 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604
 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622
 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640
 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658
 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676
 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694
 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712
 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730
 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748
 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766
 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784
 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802
 803 804 805 806 807 808 809 810 811]

In [21]:
def create_book_ratings(books_df, books_index, ratings, n=10):
    books_ids = books_matrix.columns[books_index]
    book_ratings = pd.DataFrame(data=dict(book_id=books_ids, rating=ratings))
    top_n_books = book_ratings.sort_values("rating", ascending=False).head(n)

    book_recommendations = books_df[books_df.id.isin(top_n_books.book_id)].reset_index(drop=True)
    book_recommendations['rating'] = pd.Series(top_n_books.rating.values)
    return book_recommendations.sort_values("rating", ascending=False)

In [22]:
existing_ratings_index = np.where(train[user_index, :] > 0)[0]
existing_ratings = train[user_index, existing_ratings_index]

create_book_ratings(books, existing_ratings_index, existing_ratings)

,id,book_id,authors,title,average_rating,ratings_count,rating
0,6,11870085,John Green,The Fault in Our Stars,4.26,2346404,5.0
1,106,9418327,Tina Fey,Bossypants,3.94,506250,5.0
2,112,15507958,Jojo Moyes,"Me Before You (Me Before You, #1)",4.27,587647,5.0
3,249,4588,Jonathan Safran Foer,Extremely Loud and Incredibly Close,3.97,294726,5.0
4,250,11387515,R.J. Palacio,Wonder,4.43,228538,4.0
5,291,3591262,Abraham Verghese,Cutting for Stone,4.28,258319,4.0
6,320,13526165,Maria Semple,"Where'd You Go, Bernadette",3.90,215453,4.0
7,357,355697,"Erich Maria Remarque, A.W. Wheen",All Quiet on the Western Front,3.92,249113,4.0
8,1990,11331421,"Jan-Philipp Sendker, Kevin Wiliarty",The Art of Hearing Heartbeats,3.98,41647,3.0
9,6613,79421,"Paul Hattaway, Brother Yun",The Heavenly Man: The Remarkable True Story of...,4.33,12537,2.0

In [23]:
create_book_ratings(books, predictions_index, rating_predictions)

,id,book_id,authors,title,average_rating,ratings_count,rating
0,1,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",4.34,4780653,4.609760
1,2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479,4.458729
2,11,77203,Khaled Hosseini,The Kite Runner,4.26,1813044,4.443612
3,25,136251,"J.K. Rowling, Mary GrandPré",Harry Potter and the Deathly Hallows (Harry Po...,4.61,1746574,4.438808
4,27,1,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1678823,4.371738
5,117,18131,Madeleine L'Engle,"A Wrinkle in Time (A Wrinkle in Time Quintet, #1)",4.04,615907,4.359092
6,2978,13578175,Brandon Sanderson,The Emperor's Soul,4.33,33634,4.304838
7,7677,184644,"Dorie Greenspan, Alan Richardson",Baking: From My Home to Yours,4.18,11662,4.291431
8,8852,12390650,Kristen Ashley,"Wildest Dreams (Fantasyland, #1)",4.19,19790,4.288460
9,9569,32075671,Angie Thomas,The Hate U Give,4.62,32610,4.285123